/*
Error: Inconsistent indentation: 2 spaces were used for indentation, but the rest of the document was indented using 4 spaces.
        on line 422 of 2-layouts/_home-page.sass
        from line 5 of /Users/levivillarreal/Desktop/CodeU_Spring_2018/src/main/webapp/css/2-layouts/_layouts-dir.sass
        from line 5 of /Users/levivillarreal/Desktop/CodeU_Spring_2018/src/main/webapp/css/styles.sass

417: 
418: textarea.hidden, input#type
419:     display: none
420: 
421: #chat li p
422:   display: inline
423: 
424: /* ===============================
425:     Gifs
426:     =============================== *\/
427: 

Backtrace:
2-layouts/_home-page.sass:422
/Users/levivillarreal/Desktop/CodeU_Spring_2018/src/main/webapp/css/2-layouts/_layouts-dir.sass:5
/Users/levivillarreal/Desktop/CodeU_Spring_2018/src/main/webapp/css/styles.sass:5
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/engine.rb:494:in `block in tabulate'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/engine.rb:452:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/engine.rb:452:in `each_with_index'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/engine.rb:452:in `tabulate'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/engine.rb:417:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/engine.rb:321:in `to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:327:in `block in visit_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/stack.rb:88:in `block in with_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/stack.rb:88:in `with_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:326:in `visit_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:329:in `block (2 levels) in visit_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:329:in `map'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:329:in `block in visit_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/stack.rb:88:in `block in with_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/stack.rb:88:in `with_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:326:in `visit_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `map'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:161:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/tree/root_node.rb:36:in `css_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/plugin/compiler.rb:443:in `on_file_changed'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.2/lib/sass/plugin/compiler.rb:320:in `block in watch'
/Library/Ruby/Gems/2.0.0/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
/Library/Ruby/Gems/2.0.0/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
/Library/Ruby/Gems/2.0.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:115:in `_process_changes'
/Library/Ruby/Gems/2.0.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:19:in `block in loop_for'
/Library/Ruby/Gems/2.0.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop'
/Library/Ruby/Gems/2.0.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop_for'
/Library/Ruby/Gems/2.0.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:84:in `_wait_for_changes'
/Library/Ruby/Gems/2.0.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:42:in `block in setup'
/Library/Ruby/Gems/2.0.0/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `call'
/Library/Ruby/Gems/2.0.0/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Inconsistent indentation: 2 spaces were used for indentation, but the rest of the document was indented using 4 spaces.\A         on line 422 of 2-layouts/_home-page.sass\A         from line 5 of /Users/levivillarreal/Desktop/CodeU_Spring_2018/src/main/webapp/css/2-layouts/_layouts-dir.sass\A         from line 5 of /Users/levivillarreal/Desktop/CodeU_Spring_2018/src/main/webapp/css/styles.sass\A \A 417: \A 418: textarea.hidden, input#type\A 419:     display: none\A 420: \A 421: #chat li p\A 422:   display: inline\A 423: \A 424: /* ===============================\A 425:     Gifs\A 426:     =============================== */\A 427: "; }
